[Unit]
Description=Offline imap - %i
After=network.service syslog.service

[Service]
ExecStart=/usr/bin/offlineimap -1a %i
Restart=always
RestartSec=3
Nice=5

[Install]
WantedBy=multi-user.target
